.profile-image {
    width: 100%;
    height: 300px;
    border-radius: var(--nc-border-radius);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--nc-input-bg);
    border: 1px solid var(--nc-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hidden-file-input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.remove-image-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--nc-danger);
    color: var(--nc-white);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}